



 
<body>
    <div align="center" >
        <h3>Code Generated and Documented using AutoCodeGen</h3>
        <h6><%= apiConfigJson.info.title%></5></h6>
        <h6><%= apiConfigJson.info.description%></5></h6>
        <hr/>
        <h3>Route Information </h3>
        <% for(var cont of apiConfigJson.routes){ %>
            <h5><%=apiConfigJson.host%><%=cont.routeName%></h5>
            <h6> Method Type: <%=cont.method%></h6>
            <h6> Description: <%=cont.description%></h6>
            <h6> Headers: <%=cont.produces%></h6>
            <h4> Parameters</h4>
            <% for(var params of cont.parameters){ %>
                <h6> Type:<b> <%=params.type%> </b></h6>
                <h6>{<% Object.keys(params.content).forEach(key =>{ %>
                    <p>"<%=key%>" : <%= params.content[key]%></p>
                <%})%></h6>
                <p>}</p>
                <% }%>
            <h6> Output Format: <%=cont.produces%></h6>

            <h4> Responses</h4>
            <% for(var resp of cont.responses){ %>
                <h6> StatusCode:<b> <%=resp.statusCode%> </b></h6>
                <h6> Description:<b> <%=resp.description%> </b></h6>
                <h6>{<% Object.keys(resp.returns).forEach(key =>{ %>
                   
                    <%if(key === 'message'){%>
            
                            
                            
                            
                            <p>   "message" : {<% Object.keys(resp.returns[key]).forEach(ke =>{ %>
                                <p>  "<%= ke%>" : <%=resp.returns[key][ke] %> </p> 

                            <%}) %>}
                        </p> 
                                                
                        
                        
            
                    <%} else{%>
                        <p>"<%=key%>" : <%= resp.returns[key]%>,</p>
                    <%}%>

                   
                <%})%></h6>
                <p>}</p>
                <hr/>
                <% }%>
            <br/>
            <hr/>
            <br/>
            <% }%>
                <h3>Custom Route Information </h3>
            <% for(var cont of apiConfigJson.customRoutes){ %>
                <h5><%=apiConfigJson.host%><%=cont.routeName%></h5>
                <h6> Method Type: <%=cont.method%></h6>
                <h6> Description: <%=cont.description%></h6>
                <h6> Headers: <%=cont.produces%></h6>
                <h4> Parameters</h4>
                <% for(var params of cont.parameters){ %>
                    <h6> Type:<b> <%=params.type%> </b></h6>
                    <h6>{<% Object.keys(params.content).forEach(key =>{ %>
                        <p>"<%=key%>" : <%= params.content[key]%></p>
                    <%})%></h6>
                    <p>}</p>
                    <% }%>
                <h6> Output Format: <%=cont.produces%></h6>
    
                <h4> Responses</h4>
                <% for(var resp of cont.responses){ %>
                    <h6> StatusCode:<b> <%=resp.statusCode%> </b></h6>
                    <h6> Description:<b> <%=resp.description%> </b></h6>
                    <h6>{<% Object.keys(resp.returns).forEach(key =>{ %>
                       
                        <%if(key === 'message'){%>
                
                                
                                
                                
                                <p>   "message" : {<% Object.keys(resp.returns[key]).forEach(ke =>{ %>
                                    <p>  "<%= ke%>" : <%=resp.returns[key][ke] %> </p> 
    
                                <%}) %>}
                            </p> 
                                                    
                            
                            
                
                        <%} else{%>
                            <p>"<%=key%>" : <%= resp.returns[key]%>,</p>
                        <%}%>
    
                       
                    <%})%></h6>
                    <p>}</p>
                    <hr/>
                    <% }%>
                <br/>
                <hr/>
                <br/>
                <% }%>
    </div>
</body>
 

